@model QLDD.Models.TOADO

@{
    Layout = null;
}
<div>
    <div style="display:flex; justify-content:center; align-items:center">
        <table width="50%">
            <tr>
                <th>TỌA ĐỘ LATTITUDE</th>
                <td style="padding: 10px 0px">@Html.DisplayFor(model => model.TOADO_LAT)</td>
                <th>TỌA ĐỘ LONGITUDE</th>
                <td style="padding: 10px 0px">@Html.DisplayFor(model => model.TOADO_LNG)</td>
            </tr>

        </table>
        <button class="btn btn-info" style="margin-right: 10px" onclick="ChiDuong()">Xem vị trí</button>
        <button class="btn btn-info" style="margin-right: 10px" onclick="BatDau()" id="btnBatDau" disabled>Xem chỉ đường</button>
    </div>
    <div id="googleMap" style="width:100%;height:400px;"></div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    var map;
    var destination;
    var start;
        function myMap() {
            //load map
            var mapProp = {
                center: new google.maps.LatLng(@Html.DisplayFor(model => model.TOADO_LAT), @Html.DisplayFor(model => model.TOADO_LNG)),
                zoom: 16,

            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            //place destination
            destination = new google.maps.Marker({ position: {lat:@Html.DisplayFor(model => model.TOADO_LAT), lng:@Html.DisplayFor(model => model.TOADO_LNG)  }, map: map, title: 'Vị trí địa điểm'});
        }
    //click chi duong
    function ChiDuong() {
        destination.setMap(null);
        if (start != undefined) {
            start.setMap(null);
        }
        //place destination
        destination = new google.maps.Marker({
            position: { lat:@Html.DisplayFor(model => model.TOADO_LAT), lng:@Html.DisplayFor(model => model.TOADO_LNG)  },
            map: map, title: 'Vị trí địa điểm',
            animation: google.maps.Animation.DROP,
        });
        //get local position
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
        alert("Geolocation is not supported by this browser.");
        }

    }
    //show local position
    function showPosition(position) {
        console.log(position.coords.latitude + "--" + position.coords.longitude); // Lat của vị trí hiện tại<br />  console.log(position.coords.longitude); // Lng của vị trí hiện tại
        //place start
        start = new google.maps.Marker({
            position: { lat:position.coords.latitude, lng:position.coords.longitude},
            map: map,
            title: 'Vị trí bắt đầu',
            animation: google.maps.Animation.DROP,
            icon: "/Assets/images/duck.png",
            draggable:true
        });
        map.panTo(start.position);
        map.setZoom(14);

        //popup
        var contentString = `<p>Bạn đang ở đây! (${start.position.lat().toFixed(6)},${start.position.lng().toFixed(6)})</p>`
         var infowindow = new google.maps.InfoWindow({
            content: contentString
         });
        google.maps.event.addListenerOnce(map, 'idle', function() {
           infowindow.open(map,start);
        });
        //draw polylines
        var flightPlanCoordinates = [
            start.position, destination.position
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#c9372c',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);
        document.getElementById("btnBatDau").disabled = false;
     }

    //click bat dau
    function BatDau() {
       
        var pos = start.position.lat().toFixed(6) + "," + start.position.lng().toFixed(6);
        var des = destination.position.lat().toFixed(6) + "," + destination.position.lng().toFixed(6);
        var str = `https://www.google.com/maps/dir/'${pos}'/${des}`;
        window.open(str);
    }


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5qwgemJp4LtodR8lvXg382V-cDFK3bY&callback=myMap">
</script>
